<div class="container">
    <div class="chat-container" #chatContainer>
        @for (message of messages; track $index) {
        @if (message.senderId !== userId) {
        <div class="text"
            [ngStyle]="{'background-color': 'rgb(73, 73, 73)', 'color' : 'var(--dark-white)', 'align-self': 'flex-start'}">
            {{ message.message }}
        </div>
        } @else {
        <div class="text"
            [ngStyle]="{'background-color': 'rgb(0, 132, 255)', 'align-self': 'flex-end', 'color': 'rgb(224, 224, 224)'}">
            {{ message.message }}
        </div>
        }
        }
    </div>
    <div class="send-message-container">
        <form>
            <input type="text" placeholder="Type a message" [(ngModel)]="newText"
                [ngModelOptions]="{standalone: true}" />
            <button (click)="sendMessage(newText)" type="submit">
                <mat-icon class="arrow-up" svgIcon="arrow-up"></mat-icon>
            </button>
        </form>
    </div>
</div>