:host {
    display: flex;
    justify-content: center;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .main {
    width: 350px;
    height: auto;
    padding: 20px;
    border: var(--soft-gray-background);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main .back {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.back svg {
    width: 20px;
    rotate: 180deg;
    transition: transform .2s;
}

.main .title {
    text-align: center;
    margin-bottom: 20px;
}

.title h3 {
    margin-top: 10px;
}

.title h5 {
    color: red;
}

.main .form {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form input {
    padding: 13px 0 13px 10px;
    border-radius: 10px;
    border: var(--soft-gray-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow .3s;
}

.form input::placeholder {
    font-size: 15px;
}

.form input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s;
}

.form input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-background);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .17s;
}

.form button:hover {
    background-color: var(--light-gray);
    transition: background-color .17s;
}