<div class="container" [ngStyle]="{'opacity': (opacity$ | async), 'transition': 'opacity 0.5s'}">
    <div class="main">
        <div class="title">
            <h3>Enter your informations</h3>
            @if (loginDenied$ | async) {
            <h5>Email or password invalid</h5>
            }
        </div>
        <form [formGroup]="loginInForm" class="form">
            <input formControlName="email" class="email" type="text" placeholder="Email"
                [ngStyle]="{'box-shadow': (emailIsInvalid$ | async) ? '0 0 10px rgb(255, 175, 175)' : null}"
                (keyup)="onKeyUp('email')">
            <input formControlName="password" class="password" type="password" placeholder="Password"
                [ngStyle]="{'box-shadow': (passwordIsInvalid$ | async) ? '0 0 10px rgb(255, 175, 175)' : null}"
                (keyup)="onKeyUp('password')">
            <button [disabled]="isLoading$ | async" (click)="submitForm()" type=" submit" class="login"
                [ngStyle]="{'cursor': (isLoading$ | async) ? 'not-allowed' : null, 'background-color': (isLoading$ | async) ? '#414750' : null}">
                @if (isLoading$ | async) {
                <div class="spinner-container">
                    <div class="spinner"></div>
                </div>
                } @else {
                Login
                }
            </button>
        </form>
        <div class="register">
            <div class="line"></div>
            <p>OR</p>
            <div class="line"></div>
        </div>
        <div class="create-account">
            <button (click)="changeRoute()" class="register-button">Create an account
                now</button>
        </div>
    </div>
</div>