<div class="container">
    <div class="chat-container">
        <div class="conversations-container">
            <div class="search-bar-container">
                <div class="search-bar">
                    @if (!hasClickedAddingUser) {
                    <input [(ngModel)]="searchUser" type="text"
                        [ngStyle]="{'width' : isAddingUser ? '0%' : '90%', 'transition' : 'width 0.3s' }" class="search"
                        placeholder="Search" />
                    <mat-icon [ngStyle]="{'margin-left' : isAddingUser ? '282px' : null, 'transition' : 'margin 0.3s'}"
                        class="icon" svgIcon="new-message" (click)="updateUserAddingStatus()"></mat-icon>
                    } @else {
                    <input [(ngModel)]="searchAddUser" type="email" class="search"
                        [ngStyle]="{'width' : !isAddingUser ? '0%' : '90%', 'transition' : 'width 0.3s, box-shadow 0.3s', 'box-shadow': (isEmailInvalid$ | async) ? '0 0 10px rgb(255, 80, 80)' : null }"
                        placeholder="Enter the email of the user you want to add"
                        (keyup)="hasAddedUser ? checkEmailValidity() : null"
                        (keydown.enter)="!searchAddUser ? updateUserAddingStatus() : addUser()" />
                    <mat-icon
                        [ngStyle]="{'margin-left' : !isAddingUser ? '282px' : null, 'transition' : 'margin 0.3s, transform 0.3s', 'transform' : searchAddUser ? 'rotate(45deg)' : null}"
                        class="icon" svgIcon="close"
                        (click)="!searchAddUser ? updateUserAddingStatus() : addUser()"></mat-icon>
                    }
                </div>
            </div>
            <div class="conversations">
                @for (conversation of conversations; track conversation) {
                @if (conversation.userName.toLowerCase().startsWith(searchUser.toLowerCase())) {
                <div class="conversation" (click)="getConversation(conversation)"
                    [ngStyle]="{ 'background-color': hasClickedConversation && conversation.id == clickedConversationId ? 'var(--soft-black)' : null }">
                    <div class="name-and-time">
                        <div class="name"
                            [ngStyle]="{ 'color': hasClickedConversation && conversation.id == clickedConversationId ? 'rgb(218, 220, 224)' : null }">
                            {{ conversation.userName }}
                        </div>
                        <div class="time"
                            [ngStyle]="{ 'color': hasClickedConversation && conversation.id == clickedConversationId ? 'rgb(218, 220, 224)' : null }">
                            @if (!isYesterday(conversation.timestamp)) {
                            {{ conversation.timestamp | date: 'shortTime' }}
                            } @else if (isYesterday(conversation.timestamp)) {
                            Yesterday
                            } @else {
                            {{ conversation.timestamp | date: 'shortDate' }}
                            }
                        </div>
                    </div>
                    <div class="last-message" [ngStyle]="changeLastMessageColor(conversation)">
                        @if (!conversation.lastMessageIsRead && conversation.lastMessage){
                        <div class="unread-dot"></div>
                        }
                        {{ conversation.lastMessage | truncate: 25 }}
                    </div>
                </div>
                }
                }
            </div>
        </div>
        <div class="chat">
            @if (hasClickedConversation) {
            <app-message [conversation]="inputConversation"></app-message>
            }
        </div>
    </div>
</div>