.container {
    background-color: var(--main-black);
    display: flex;
    flex-direction: column;
    height: 100%;
}


.container .logo-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo-container .burnout {
    width: 15%;
}

.logo-container .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container .options {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 40px; */
    position: relative;
    gap: 30px;
    align-items: center;
    width: 15%;
}


.options .icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.options p {
    margin: 0;
    margin-right: 40px;
    cursor: pointer;
    color: var(--dark-white);
}

.logo-container .logo {
    width: 150px;
    cursor: pointer;
}

::ng-deep .menu {
    background-color: var(--alt-black) !important;
    max-width: none !important;
    max-height: none !important;
    border-radius: 15px !important;
}